<h1 class="mb-4">Acceso al Informe</h1>
<% if (error) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
<% } %>
<form method="GET" id="authForm">
    <div class="mb-3">
        <input type="password" class="form-control" id="code" name="code" placeholder="INGRESE EL CÓDIGO" required>
    </div>
    <input type="hidden" name="redirect" id="redirect">
    <button type="submit" class="btn btn-success">INGRESAR</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const urlParams = new URLSearchParams(window.location.search);
        const redirect = urlParams.get('redirect') || '/tabla';
        document.getElementById('redirect').value = redirect;
        document.getElementById('authForm').action = redirect;
    });
</script>